<h1>Intro</h1>

Sprint 4 Project

# VEHICLES

We're taking a look a the data for used cars for sale.

## Initialization

Preprocessing the data:
* Import libraries
* Load the data 
* Clean up data types
* Check for duplicates and null values
* Enrich data

In [10]:
# !pip install streamlit --user
# !pip install plotly_express

In [12]:
import pandas as pd
# import streamlit as st
# import plotly_express as px
# import altair as alt
from matplotlib import pyplot as plt
import numpy as np
import math as mt
from math import factorial
from scipy import stats as st

In [14]:
df_vehicles_us = pd.read_csv('/datasets/vehicles_us.csv')

In [16]:
print(df_vehicles_us.sample(10))

       price  model_year                         model  condition  cylinders  \
45537  17588      2018.0               chevrolet cruze   like new        NaN
26869   8000      2004.0      chevrolet silverado 1500       good        8.0
34908  13988      2014.0                    ford focus       good        4.0
8122   24200      2019.0  chevrolet camaro lt coupe 2d       good        6.0
26210  23990      2011.0    chevrolet silverado 3500hd       good        8.0
47820   7950      2012.0              volkswagen jetta  excellent        NaN
42313  12995      1998.0            chevrolet corvette   like new        8.0
4352   16000      2014.0      chevrolet silverado 1500       good        8.0
28826  29900      2018.0      ford mustang gt coupe 2d       good        8.0
3666   15985      2010.0                 toyota tacoma  excellent        6.0

         fuel  odometer transmission         type paint_color  is_4wd  \
45537     gas    4000.0    automatic        sedan         NaN     NaN
26869     gas       NaN    automatic       pickup       black     1.0
34908     gas   96479.0       manual    hatchback         red     NaN
8122      gas   11438.0        other        coupe        grey     NaN
26210  diesel  150125.0    automatic        truck        grey     1.0
47820  diesel   62000.0       manual        sedan      silver     NaN
42313     gas   57360.0       manual  convertible       brown     NaN
4352      gas  137000.0    automatic       pickup       white     1.0
28826     gas    3827.0    automatic        coupe      yellow     NaN
3666      gas  131887.0    automatic       pickup         red     1.0

      date_posted  days_listed
45537  2018-12-18            9
26869  2018-05-28           48
34908  2018-11-26           37
8122   2019-01-04           26
26210  2018-07-24           10
47820  2018-08-03           36
42313  2018-07-02            2
4352   2019-04-18           28
28826  2018-10-27           51
3666   2019-03-01           99

In [17]:
print(df_vehicles_us.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB
None

In [27]:
# Checking for any duplicates and the number of unique types
print('DUPLICATES\n', df_vehicles_us[df_vehicles_us.duplicated()])
# print('MODEL\n', df_vehicles_us['model'].unique())
print('CONDITION\n', df_vehicles_us['condition'].unique())
print('FUEL\n', df_vehicles_us['fuel'].unique())
print('TRANSMISSION\n', df_vehicles_us['transmission'].unique())
print('TYPE\n', df_vehicles_us['type'].unique())
print('COLOR\n', df_vehicles_us['paint_color'].unique())
print('4WD\n', df_vehicles_us['is_4wd'].unique())

DUPLICATES
 Empty DataFrame
Columns: [price, model_year, model, condition, cylinders, fuel, odometer, transmission, type, paint_color, is_4wd, date_posted, days_listed]
Index: []
CONDITION
 ['good' 'like new' 'fair' 'excellent' 'salvage' 'new']
FUEL
 ['gas' 'diesel' 'other' 'hybrid' 'electric']
TRANSMISSION
 ['automatic' 'manual' 'other']
TYPE
 ['SUV' 'pickup' 'sedan' 'truck' 'coupe' 'van' 'convertible' 'hatchback'
 'wagon' 'mini-van' 'other' 'offroad' 'bus']
COLOR
 [nan 'white' 'red' 'black' 'blue' 'grey' 'silver' 'custom' 'orange'
 'yellow' 'brown' 'green' 'purple']
4WD
 [ 1. nan]

In [21]:
# string type and lowercase: model, condition, fuel, transmission, type, paint_color, is_4wd
# to_datetime: date_posted

In [22]:
# Null values overview
print(df_vehicles_us.isna().sum())

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

In [30]:
# Null values within the columns
print(df_vehicles_us[df_vehicles_us['paint_color'].isna()])

       price  model_year                        model  condition  cylinders  \
0       9400      2011.0                       bmw x5       good        6.0
3       1500      2003.0                   ford f-150       fair        8.0
8      11500      2012.0                  kia sorento  excellent        4.0
12     18990      2012.0                     ram 1500  excellent        8.0
21      5250      2007.0                  toyota rav4       good        6.0
...      ...         ...                          ...        ...        ...
51502   7995      2011.0            chevrolet equinox   like new        4.0
51503   6595      2011.0             chevrolet malibu  excellent        4.0
51506  28900      2017.0  ford f150 supercrew cab xlt       good        6.0
51519  11750      2015.0                 honda accord  excellent        4.0
51524   6300      2014.0                nissan altima       good        4.0

      fuel  odometer transmission    type paint_color  is_4wd date_posted  \
0      gas  145000.0    automatic     SUV         NaN     1.0  2018-06-23
3      gas       NaN    automatic  pickup         NaN     NaN  2019-03-22
8      gas  104174.0    automatic     SUV         NaN     1.0  2018-07-16
12     gas  140742.0    automatic  pickup         NaN     1.0  2019-04-02
21     gas  154000.0    automatic     SUV         NaN     NaN  2018-08-22
...    ...       ...          ...     ...         ...     ...         ...
51502  gas  111088.0    automatic     SUV         NaN     NaN  2019-04-01
51503  gas  100780.0    automatic   sedan         NaN     NaN  2019-02-27
51506  gas   49225.0    automatic  pickup         NaN     1.0  2019-04-11
51519  gas       NaN    automatic   coupe         NaN     NaN  2018-11-24
51524  gas       NaN    automatic   sedan         NaN     NaN  2018-06-05

       days_listed
0               19
3                9
8               19
12              37
21               8
...            ...
51502          175
51503           73
51506           25
51519           89
51524           10

[9267 rows x 13 columns]